<header class="relative bg-blue-500 shadow p-4">
  <div class="container mx-auto max-w-5xl flex justify-center">
    <a href="/" class="flex items-center">
      <img src="/img/calculator.png" alt="calculator" width="44"/>
      <span class="ml-4 text-white text-3xl font-bold sm:block">Project Manager</span>
    </a>
  </div>
</header>
<div class="title">
  <div class="bg-blue-400 p-4">
    <div class="container mx-auto max-w-5xl flex justify-center">
      <h1 class="text-white text-2xl font-semibold mt-8 mb-16"><%= title %> </h1>
    </div>
  </div>
  <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-204.57,-44.88 C139.10,111.03 271.49,-49.98 698.36,59.72 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: #60a5fa;"></path></svg></div>
</div>